# .NET
**/bin/
**/obj/
*.user
*.suo
*.cache
*.nupkg
*.snupkg
*.log

# JetBrains
.idea/

# IDE
**/.vs/
/.vscode/

# OS
.DS_Store
Thumbs.db

# Secrets / env
**/appsettings.*.local.json
PaintShopBackEnd/secrets.txt
**/secrets*.txt